<div class="row">
  <div class="col-xs-12">
    <app-post-item
      *ngFor="let postEl of posts; let i = index"
      [post]="postEl"
      [index]="postEl.id"></app-post-item>
  </div>
</div>

<div class="row" *ngIf="posts.length!==0">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="loadMore()">Load More</button>
  </div>
</div>

<div class="row" *ngIf="posts.length===0" >
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="loadPosts()">Load Posts {{posts.length}}</button>
  </div>
</div>
